form{
  margin-bottom: 0;
}
.outerContainer{
  padding: 10 20;
}
.container{
  width:250px;
}
.title{
  font-size: 24px;
  font-weight: bold;
  padding-bottom:15px;
}
.data{
 padding-top:50px;
}
.text{
  width:75%;
  height:50%;
}
.submit{
 margin-top:20px;
}
.float-right{
  float:right;
}
.choice{
  padding:2px;
}
.tag{
  font-size: 20px;
  font-weight: bold;
}